#game {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: wheat;
}
#loadArea {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}
#loadArea > * {
  text-align: center;
}
H1 {
  font-size: 5vw;
  margin-bottom: 3vw;
  font-family: "Fredoka One";
}
#arrow {
  /* font-size: 4vw; */
  width: 7vw;
  height: 7vw;
  background-image: url("arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  animation: up-down 0.8s linear alternate infinite;
  margin: 0 auto;
}
@keyframes up-down {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(-20%);
  }
}
#load {
  font-size: 3vw;
  margin-top: 2vw;
  font-family: "Indie Flower";
}
#load:hover {
  cursor: pointer;
}
#loadedPicture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 7px rgba(66, 68, 90, 1);
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
}

.active {
}
.active:hover {
  cursor: pointer;
}
.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-image: url("cursor.png");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}
#view {
  position: absolute;
  top: 1vw;
  left: 1vw;
  text-transform: uppercase;
  font-family: "Fredoka One";
  font-style: 2vw;
}
